<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VURLS</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>

        <div class="top-bar">VURLS (V URL shortener)</div>

        <div class="floating-window">
            <h2>Shorten Your URL</h2>
            <form id="urlForm">
                <div class="input-group">
                    <input type="text" id="urlInput" placeholder="Enter URL" required>
                </div>
                <div class="input-group" hidden>
                    <input type="text" placeholder="Custom Alias (optional)">
                </div>
                <div class="input-group" @{hidden_value}>
                    <input type="password" id="passwordInput" placeholder="Password">
                </div>
                <button type="submit">Shorten</button>
            </form>
            <br>
            <a id="shortUrlOutput"></a>
        </div>

        <script src="/script.js"></script>
    </body>
</html>