body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.top-bar {
    width: 100%;
    background-color: #3b7bbf;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.floating-window {
    background-color: #c2c2c2;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-top: 192px;
}

.floating-window h2 {
    color: #3b7bbf;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group:not([hidden]) {
    display: flex;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #4a607e;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #3b7bbf;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #4a607e;
}

#shortUrlOutput {
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }

    .floating-window {
        background-color: #3f3f3f;
    }
}

#privacyPolicy {
    bottom: 16px;
    position: absolute;
}